{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% for article in articles %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                {% if article.image %}
                    <img src="{{ article.image.url }}" class="img-fluid" alt="{{ article.title }}">
                {% else %}
                    <img src="{% static 'images/avatars/default.jpg' %}" class="img-fluid" alt="Default Image">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h5>
                    <p class="card-text">{{ article.short_description|safe }}</p>
                    <hr>
                    <p class="card-text">
                        Kategorija:
                        <a href="{% url 'blog:articles_by_category' article.subcategory.category.id %}">
                            {{ article.subcategory.category.name }}
                        </a> /

                        <a href="{% url 'blog:articles_by_subcategory' article.subcategory.id %}">
                            {{ article.subcategory.name }}
                        </a> /
                        Pridėjo: {{ article.author.username }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% include 'pagination.html' with page_obj=articles is_paginated=True %}
{% endblock %}
