{% extends 'base.html' %}
{% load static %}

{% block title %}Slaptažodžio keitimas{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4 class="mb-3">Slaptažodžio keitimas</h4>
            <form method="post">
                {% csrf_token %}
                <!-- Senas slaptažodis -->
                <div class="mb-3">
                    {{ form.old_password.label_tag }} {{ form.old_password }}
                    {% if form.old_password.errors %}
                        <div class="text-danger">
                            {{ form.old_password.errors }}
                        </div>
                    {% endif %}
                </div>
                <!-- Naujas slaptažodis -->
                <div class="mb-3">
                    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                    {% if form.new_password1.errors %}
                        <div class="text-danger">
                            {{ form.new_password1.errors }}
                        </div>
                    {% endif %}
                </div>
                <!-- Pakartoti naują slaptažodį -->
                <div class="mb-3">
                    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                    {% if form.new_password2.errors %}
                        <div class="text-danger">
                            {{ form.new_password2.errors }}
                        </div>
                    {% endif %}
                </div>
                <!-- Pateikimo mygtukas -->
                <button type="submit" class="btn btn-primary">Keisti slaptažodį</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
